@import 'tailwindcss';

@theme {
  --color-brand-dark: #00684f;
  --color-deep-sea-50: #ebfef6;
  --color-brand-100: #d0fbe8;
  --color-brand-200: #a4f6d5;
  --color-brand-300: #6aebc0;
  --color-brand-400: #2fd8a4;
  --color-brand-500: #0abf8e;
  --color-brand-600: #009b75;
  --color-brand-700: #008265;
  --color-brand-800: #03624d;
  --color-brand-900: #045041;
  --color-brand-950: #012d26;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
